extends layout
block content
	if username
		a(href="/game/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.user.icon
					span#player-count
					|	players online now
	else
		a(href="/observe/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.user.icon
					span#player-count
					|	players online now
	.ui.segment
		.ui.grid.mainpage
			.row.stackable#general-info
				.eight.wide.column
					h1(style="font-size: 22px;") Play the hit board game in your browser! Always free and no ads.
					p It's Always Bob is a dramatic game of political intrigue and betrayal set in 2020's Scotland. Players are secretly divided into two teams - campers and bams. Known only to each other, the bams coordinate to sow distrust and install their cold-blooded leader. The campers must find and stop the Secret Bob before it is too late.
					p Hop into the #[a(href="/observe") the game lobby] itself right now to see and join a game.
				.eight.wide.column.news
					h2(style="color: #000").ui.header News
					p Issues/bugs can be reported to your leaders, or by opening a #[a(href="https://github.com/25Edinburgh/its-always-bob/issues") github issue].
					h3 Welcome to Season 11!
					hr
					h3 Version 1.7.0 released 7-1-2020
					p #[a(href="/observe/#/changelog") Check out the changes!]
					hr
					h3.ui.header(style="text-align: center") #[a(href="/changelog") Full Changelog]
					p
